<div class="container mt-5">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-2 col user-container">
        <%= render UserChipComponent.new(user) %>
      </div>
    <% end %>
  <div class="card-hover"></div>
  </div>
</div>
